@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Home";
}

<h1 class="fw-bold text-primary mb-4">Admin Home</h1>

<ul class="fs-5">
    <li><a href="/Admin/Locations" class="text-primary fw-semibold">Manage Locations</a></li>
    <li><a href="/Admin/Residences" class="text-primary fw-semibold">Manage Residences</a></li>
    <li><a href="/Admin/Users" class="text-primary fw-semibold">Manage Users</a></li>
</ul>
