@model AirBB.Models.DomainModels.User

<h2>Edit User</h2>

<form asp-action="Edit" method="post" class="mt-4">

    <input type="hidden" asp-for="UserId"/>

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control"/>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control"/>
    </div>

    <div class="mb-3">
        <label>Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control"/>
    </div>

    <div class="mb-3">
        <label>SSN</label>
        <input asp-for="SSN" class="form-control"/>
    </div>

    <div class="mb-3">
        <label>User Type</label>
        <input asp-for="UserType" class="form-control"/>
    </div>

    <button class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
